.container {
    display: inline-block;
    background-color: #fff;
    padding: 32px 24px;
    border-radius: 12px;
    max-width: 800px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.button {
    background-color: var(--color-main);
    border: 0;
    color: #fff;
    width: 50px;
    aspect-ratio: 1;
    font-size: 32px;
    border-radius: 50%;
    cursor: pointer;
}